<ul data-orbit data-options="animation: fade; timer_speed: 5000; pause_on_hover: true; resume_on_mouseout: true;">
  {% for slide in site.data.slides %}
    <li>
      <img src="{{site.baseurl}}/images/{{slide.image}}"/>
      <div class='orbit-caption caption-{{ slide.desc_location }}'>
        <div class='row'>
          <div class='large-12 columns right'>
            {{ slide.desc }}
            <a href='{{site.baseurl}}/{{slide.link}}' class='button boxed'>Saiba Mais</a>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>